*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section .articulo{
    margin: 20px;
    padding: 20px;
    background-color: rgb(23, 97, 100);
    color: white;
}
section .articule{
    margin: 20px;
    padding: 20px;
    background-color: rgb(93, 40, 12);
    color: white;
}
main{
    padding-top: 60px;
}
